body {
	min-width: 100vw;
	min-height: 100vh;
	background-image: url(body9.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}


.recon {
       min-width: 960px;
       min-height: 540px;
       max-width: 1920px;
       max-height: 1080px;
				align-items: center;
				align-content: center;
				justify-content: center;
				display: flex;
				
}

.rety {
				width: 40%;			
				background: white;
			  margin-top: 200;
			  text-align: center;
			  font-size: 20px;
			  border-radius: 10px;
						
}

